/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

/* styles for the custom element itself - lowest specificity */
:host {
    display: block;
    width: 100%;
}
todo-item {
    margin-bottom: 25px;
}

.text-strike {
    text-decoration: line-through;   
}

.text-normal {
    text-decoration: none;
}
